.cover {
    background-image: url('https://ak.picdn.net/shutterstock/videos/1012305950/thumb/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.header h1 {
    color: white;
}

.header h4 {
    color: white;
}

.register{
    color: white;
}